<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mocktest.css">
    <title>Mock Test</title>
</head>
<body>
    <div class="btn">
        <a href="/dashboard"><button class="button-2" role="button" style="margin: auto;">Back</button></a>
    </div>
    <div class="card">
        <h2>Instructions</h2>
        <p>
            <hr/>
            <li>Sample Aptitude Test</li>
            <li>Total number of questions : 20</li>
            <li>Four options are provided for each question</li>
            <li>Each question carries 1 mark ; there are no negative marks.</li>
            <li>Do not refresh the page</li>
            <li>All the best</li>
        </p>
        <hr/>
        <a href="/test"><button class="button-1" role="button">Start Test</button></a>
    </div>

</body>
</html>